@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/* TODO: make it look awesome. */
/* TODO: make it responsive. */
@layer base{

  body {
    @apply flex justify-center m-0 p-0; /* align-items: center; */ /* min-height: 100vh; */
    font-family: "Jost", sans-serif;
    background: linear-gradient(to bottom, #275d38, #275d38, #275d38);
    font-style:  font-serif;
    flex-direction: row; 
    column-gap: 24px;
    padding: 12px;
   
  } 

}


